<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Список пользователей</H1>
<div th:each="person : ${people}" >
  <ul>
    <th:block th:if="${person.getRole == 'ROLE_USER'}">
    <li>

      <p>Login: <a th:href="@{/staff/show/{id}(id=${person.getId()})}" th:text="${person.getUsername()}">hello</a>
        <br/>
        <br/>
        <th:block th:if="${person.getPersonInfo()}">
          ФИО: <span th:text="${person.getPersonInfo().getFullName()}">Не задано</span>
          </th:block>
        <th:block th:unless="${person.getPersonInfo()}">
          <span style="color: red">Данные о пользователе не заполнены</span>
        </th:block>
      </p>
    </li>
    </th:block>
  </ul>
</div>
<form method="GET" th:action="@{/staff/}">
  <input type="submit" value="Меню">
</form>
</body>
</html>