<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.orf">
<head>
    <meta charset="UTF-8">
    <title>Информация о книге</title>
</head>
<body>
<h1>Информация о книге</h1>
<ul>
    <li>Название: <span th:text="${book.getName()}">name</span></li>
    <li>Автор: <span th:text="${book.getAuthor()}">author</span></li>
    <li>Год публикации: <span th:text="${book.getYear()}">year</span></li>
    <li>Имеется в наличии: <span th:text="${book.getPerson_id()} == null ? 'Да' : 'Нет'">available</span></li>
</ul>
<form method="GET" th:action="@{/books/{book_id}/edit(book_id=${book.getBook_id()})}">
    <input type="submit" value="Обновить данные">
</form>
<form th:method="DELETE" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}">
    <input type="submit" value="Удалить книгу">
</form>
<hr>
<form method="GET" action="/books">
    <input type="submit" value="Список книг">
</form>
<form method="GET" action="/">
    <input type="submit" value="Меню">
</form>
</body>
</html>