<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/admin/">Меню</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/admin/show/">Пользователи</a>
            </div>
        </div>
        <div class="navbar-nav">
            <form  th:action="@{/logout}" th:method="POST">
                <input class="btn btn-outline-success" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</nav>


<div class="container mt-5">
    <h1>Информация о пользователе</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="me-auto fw-bold">
                Login
            </div>
            <div th:text="${person.getUsername()}">
                An item
            </div>
        </li>
        <li class="list-group-item">
            <div class="me-auto fw-bold">
                Статус
            </div>
            <div th:text="${person.getRoleSimp()}">
                An item
            </div>
        </li>
        <th:block th:if="${person_info}">
            <li class="list-group-item">
                <div class="me-auto fw-bold">
                    ФИО
                </div>
                <div th:text="${person_info.getFullName()}">
                    An item
                </div>
            </li>
            <li class="list-group-item">
                <div class="me-auto fw-bold">
                    Год рождения
                </div>
                <div th:text="${person_info.getBirth_year()}">
                    An item
                </div>
            </li>
            <li class="list-group-item">
                <div class="me-auto fw-bold">
                    Email
                </div>
                <div th:text="${person_info.getEmail()}">
                    An item
                </div>
            </li>
            <li class="list-group-item">
                <div class="me-auto fw-bold">
                    Номер телефона
                </div>
                <div th:text="${person_info.getPhone()}">
                    An item
                </div>
            </li>
        </th:block>
    </ul>
    <br>
    <form method="GET" th:action="@{/admin/show/edit/{id}/(id=${person.getId()})}">
        <input type="submit" class="btn btn-primary" value="Обновить данные пользователя">
    </form>
    <form th:method="DELETE" th:action="@{/admin/delete/{id}(id=${person.getId()})}">
        <input type="submit" class="btn btn-danger" value="Удалить пользователя">
    </form>
</div>

</body>
</html>