<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" th:if="${role == 'ROLE_ADMIN'}">
                <a class="nav-link active" aria-current="page" th:href="@{/admin/}">Меню</a>
            </div>
            <div class="navbar-nav" th:if="${role == 'ROLE_STAFF'}">
                <a class="nav-link active" aria-current="page" th:href="@{/staff/}">Меню</a>
            </div>
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/books">Книги</a>
            </div>
        </div>
        <div class="navbar-nav">
            <form  th:action="@{/logout}" th:method="POST">
                <input class="btn btn-outline-success" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h2>Информация о книге</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <div class="me-auto fw-bold">
                Название
            </div>
            <div th:text="${book.getName()}">
                An item
            </div>
        </li>
        <li class="list-group-item">
            <div class="me-auto fw-bold">
                Автор
            </div>
            <div th:text="${book.getAuthor()}">
                An item
            </div>
        </li>
        <li class="list-group-item">
            <div class="me-auto fw-bold">
                Год публикации
            </div>
            <div th:text="${book.getYear()}">
                An item
            </div>
        </li>
        <th:block th:if="${owner}">
            <li class="list-group-item">
                <div class="me-auto fw-bold">
                    В пользовании
                </div>
                <div th:text="${owner.getFullName()}">
                    An item
                </div>
                <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
                    <input type="submit" class="btn btn-secondary btn-sm" value="Вернуть книгу">
                </form>
            </li>
        </th:block>
    </ul>
    <br>
    <form method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" class="btn btn-primary" value="Обновить данные">
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" class="btn btn-danger" value="Удалить книгу">
    </form>
    <br>
    <th:block th:if="${people}">
        <h2>Назначить книгу</h2>
        <form class="row g-3" th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <div class="col-md-4">
                <select class="form-select" th:object="${person}" th:field="*{id}">
                    <div th:each="person : ${people}">
                        <th:block th:if="${person.getRole == 'ROLE_USER'}">
                            <th:block th:if="${person.personInfo}">
                                <option th:value="${person.getId()}"
                                        th:text="${person.personInfo.getFullName()}"></option>
                            </th:block>
                        </th:block>
                    </div>
                </select>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Назначить</button>
            </div>
        </form>

    </th:block>

</div>


</body>
</html>