<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<h1>Изменение сведений о книге:</h1>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Название:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="*{name}" id="name"/>
    <br>
    <label for="author">Автор:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="*{author}" id="author"/>
    <br>
    <label for="year">Год:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="*{year}" id="year"/>
    <br>
    <input type="submit" style=position:absolute;left:12%;  value="Обновить"/>
</form>
<br>
<hr>
<form method="GET" th:action="@{/books/{id}(book_id=${book.getId()})}">
    <input type="submit" value="Вернутся к книге">
</form>
<form method="GET" action="/books">
    <input type="submit" value="Список книг">
</form>
<form method="GET" action="/">
    <input type="submit" value="Меню">
</form>
</body>
</html>