<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.orf">
<head>
    <meta charset="UTF-8">
    <title>Список книг:</title>
</head>
<body>
<h1>Список книг:</h1>
<div th:each="book : ${books}" >
    <ul>
        <li ><a th:href="@{/books/{id}(id=${book.getId()})}" th:text="${book.getName()}">book</a></li>
    </ul>
</div>
<br/>
<hr/>
<form method="GET" action="/books/new">
    <input type="submit" value="Добавить книгу">
</form>
<th:block th:if="${role == 'ROLE_ADMIN'}">
    <form method="GET" th:action="@{/admin/}">
        <input type="submit" value="Меню">
    </form>
</th:block>
<th:block th:if="${role == 'ROLE_STAFF'}">
    <form method="GET" th:action="@{/staff/}">
        <input type="submit" value="Меню">
    </form>
</th:block>
</body>
</html>