<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Изменение сведений:</h1>
<form th:method="PATCH" th:action="@{/staff/update/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="username">Username:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="*{username}" id="username"/>
    <br>
<!--    <input type="hidden" th:field="${person.personInfo}"/>-->
    <label for="fullName">ФИО:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="${person.personInfo.fullName}" id="fullName"/>
    <br>
    <label for="birth_year">Год рождения:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="${person.personInfo.birth_year}" id="birth_year"/>
    <br>
    <label for="email">Email:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="${person.personInfo.email}" id="email"/>
    <br>
    <label for="phone">Номер телефона:</label>
    <input type="text" style=position:absolute;left:12%; size="50" th:field="${person.personInfo.phone}" id="phone"/>
    <br>
    <input type="hidden" th:field="*{password}"/>
    <input type="hidden" th:field="*{role}"/>
    <br/>
    <input type="submit" style=position:absolute;  value="Обновить"/>
</form>
<form method="GET" th:action="@{/staff/}">
    <input type="submit" value="Меню">
</form>
</body>
</html>